name: Build documentation

on:
  pull_request:
    branches:
      - main

jobs:
  test-deploy:
    name: Build documentation
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-dotnet@v4
        with:
          dotnet-version: '9.0.x'

      - name: Install docfx
        run: dotnet tool install -g docfx

      - name: Build documentation
        run: docfx build
        working-directory: docfx
